/*************** LESS VARIABLES *************/
.rounded-corners (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

@red-color: #b31f24;

/********** END LESS VARIABLES *********/

.career {
	margin-top: 100px;
	h2 {
		color: @red-color;
		font-weight: 700;
	}/*h2*/
	
	p {
		margin: 7px 0;
		padding: 0;
	}/*p*/
			
	ul {
		margin: 0 0 10px 0;
		padding: 0;
		display: inline-block;
		vertical-align: top;
			
		li {
			margin: 0 35px;
			padding: 0;
			color: @red-color;
			
			span {
				color: #000;
			}/*span*/
		}/*li*/
	}/*ul*/
				
}/*career*/
