// LESS

@font-family: 'arial';
@green:      #009900;
@red:        #842210;

#top-text {
  color: @green;
  font-family: @font-family;
  font-size: 2em;
}
#bottom-text {
  color: @red;
  font-family: @font-family;
  font-size: 1.5em;
}