body {
	margin: 0;
	padding: 0;
	background: #e8e8e8;
	@body-font: 'Open Sans', Helvetica, Arial, sans-serif; 
	font-family: @body-font;
}

/*************** LESS VARIABLES *************/
.rounded-corners (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

@red-color: #b31f24;

/********** END LESS VARIABLES *********/


/***** NAVIGATION *****/
nav {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #000;
	position:fixed;
	z-index:2000;
	top: 0;
	left:0;

	#navigation {
		margin: 0;
		padding: 0;
		
		#nav {
			margin: 0 auto;
			padding: 0;
			width: 1000px;
			list-style-type: none;

			li {
				margin: 0;
				padding: 0;
				display: inline-block;
				vertical-align: top;
				list-style-type: none;
				-webkit-transition: .5s all ease;
                -moz-transition: .5s all ease;
                transition: .5s all ease;
				
				a {
					margin: 0;
					padding: 0;
					color: #fff;
					width: 192px;
					height: 60px;
					text-align: center;
					vertical-align: middle;
					line-height: 60px;  /* same as div height */
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase;
					-webkit-transition: .5s all ease;
					-moz-transition: .5s all ease;
	                transition: .5s all ease;
					&:hover {
						background: @red-color;
					}/*hover*/
				}/*a*/
			}/*li*/
		}/*#nav*/
		
		
	}/*#navigation*/
}/*nav*/

/***** TEXT LINKS *****/
a:link,
a:visited,
a:active { 
	color: @red-color; 
}

a:hover { color: lighten(@red-color, 10%); }

.active{
height: 60px;
background: @red-color;
}

section {
	width: 100%;
	margin: 0;
	padding-bottom: 60px;
	padding-top: 60px;
}

.content {
	margin: 0 auto;
	width: 960px;
	/*border: 1px dotted steelblue;*/
}

h1 {
	margin: 20px auto;
	text-align: center;
	font-size: 1.5em;
	font-weight: 700;
	color: @red-color;
}/*h1*/
	
/***** LOGO AREA *****/

#logo-area {
	padding-bottom: 0;
	.content {
		padding-top: 30px;
		.logo {
			display: block;
			margin: 50px auto;
		}/*logo*/
	}
}

/***** PORTFOLIO *****/
#portfolio-front {	
	padding: 0;
	ul {
		margin: 0 auto;
		padding: 0;
		width: 100%;
		/*border: 1px dotted steelblue;*/
		position: relative;

		img {
			margin: 10px;
			padding: 0;
			display: inline-block;
			vertical-align: top;
			background: #fff;
			border: 8px solid #d0d0d0;
		}/*img*/
	}/*ul*/
}/*portfolio-front*/

/***** NEWS *****/
#news {
	background: #d8d8d8;
}/*news*/

/***** SERVICES *****/
#services {
	background: #cacaca;
	
	.service-sections {
		margin: 0 auto;
		padding: 0;
		width: 80%;
		
		h2 {
			margin: 0;
		}/*h2*/
		
		p {
			margin: 5px 0 20px 0;
		}/*p*/
		
		ul {
			margin: 0;
			padding: 0;
			display: inline-block;
			vertical-align: top;
			
			li {
				margin: 0 35px;
				padding: 0;
				color: @red-color;
				span {
					color: #000;
				}/*span*/
			}/*li*/
		}/*ul*/
		
	}/*service-sections*/	
	
}/*services*/

/***** ABOUT *****/
#about {
	background: #bfbfbf;
	
	p {
		margin: 0 auto;
		width: 80%;
	}

	.pic-container {
		margin: 20px auto;
		padding: 0;
		width: 820px;
		/*border: 1px dotted red;*/
		
		.mugshot {
			margin: 20px 0;
			width: 200px;
			display: inline-block;
			text-align: center;
			vertical-align: top;
			
			img {
				margin: 10px;
			}/*img*/
			
			h3 {
				margin: 0;
			}/*h3*/
			
		}/*mugshot*/
	}/*pic-container*/
}/*services*/

/***** CONTACT *****/
#contact-container {
	margin: 0 auto;
	padding: 0;
	width: 75%;
	text-align: center;
	/*border: 1px dotted red;*/
	
	.contact-box {
		.rounded-corners;
		margin: 10px;
		padding: 10px;
		width: 43%;
		display: inline-block;
		vertical-align: top;
		background: #f8f8f8;
		
		h3 {
			margin: 0;
		}/*h3*/
		
		p {
			margin: 0;
			width: 100%;
		}/*p*/
		
		
	}/*.contact-box*/
}/*contact-container*/

/***** CAREER TEASER *****/
.career-teaser {
	h2 {
		margin: 0;	
	}/*h2*/
	
	p {
		margin: 5px 0 40px 0;
	}/*p*/
	
}/*career-teaser*/


/***** FOOTER *****/
footer {
	padding: 20px 0;
	background: #000;
	p {
		color: #fff;
		text-align: center;
	}
}

/***** RED BUTTON *****/
.red-button {
	.rounded-corners;
	margin: 20px auto;
	padding: 0;
	color: #fff !important;
	display: block;
	width: 270px;
	height: 53px;
	background: @red-color;
	text-align: center;
	vertical-align: middle;
	line-height: 53px;  /* same as div height */
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
	&:hover {
		background: lighten(@red-color, 10%);	
	}
}