body {
	margin: 0;
	padding: 0;
	background: #e8e8e8;
	@body-font: 'Open Sans', Helvetica, Arial, sans-serif;
	font-family: @body-font;
}

/***** NAVIGATION *****/
nav {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #000;
	position: fixed;
	
	#navigation {
		margin: 0;
		padding: 0;
		
		#nav {
			margin: 0 auto;
			padding: 0;
			width: 980px;
			list-style-type: none;
			
			li {
				margin: 0;
				padding: 0;
				display: inline-block;
				vertical-align: top;
				list-style-type: none;
				
				a {
					margin: 0;
					padding: 0;
					color: #fff;
					width: 160px;
					height: 55px;
					text-align: center;
					vertical-align: middle;
					line-height: 55px;  /* same as div height */
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						background: #b31f24;
					}/*hover*/
				}/*a*/
			}/*li*/
		}/*#nav*/
		

	}/*#navigation*/
}/*nav*/

section {
	width: 100%;
	margin: 0;
	padding-bottom: 50px;
	padding-top: 55px;
}

h1 {
	margin: 0;
	text-align: center;
}/*h1*/
	
	
.red-button {
	margin: 0 auto;
	padding: 0;
	color: #fff;
	display: block;
	width: 270px;
	height: 53px;
	background: #b31f24;
	text-align: center;
	vertical-align: middle;
	line-height: 53px;  /* same as div height */
	text-decoration: none;
	text-transform: uppercase;
}

.content {
	margin: 0 auto;
	width: 90%;
}

/***** LOGO AREA *****/

#logo-area {
	.logo {
		display: block;
		margin: 50px auto;
	}/*logo*/
}
/***** PORTFOLIO *****/
#portfolio-front {

	ul {
		margin: 0 auto;
		padding: 0;
		width: 90%;

		img {
			margin: 10px;
			padding: 0;
			display: inline-block;
			vertical-align: top;
			background: #fff;
			border: 8px solid #d0d0d0;
			&:hover {
				border-color: #b31f24;
			}/*hover*/
		}/*portfolio-thumb*/
	}/*ul*/
}/*portfolio-front*/

/***** NEWS *****/
#news {
	background: #d8d8d8;
}/*news*/

/***** SERVICES *****/
#services {
	background: #c5c5c5;
	
	.service-sections {
		margin: 0 auto;
		padding: 0;
		width: 90%;
		
		ul {
			margin: 0;
			padding: 0;
			display: inline-block;
			vertical-align: top;
			
			li {
				margin: 0 35px;
				padding: 0;
			}/*li*/
		}/*ul*/
		
	}/*service-sections*/	
	
}/*services*/

/***** ABOUT *****/
#about {
	background: #b5b5b5;
	
	p {
		margin: 0 auto;
		width: 80%;
	}
	
	.pic-container {
		margin: 20px auto;
		padding: 0;
		width: 63%;
		
		img {
			margin: 10px;
		}/*img*/
	}/*pic-container*/
}/*services*/

/***** CONTACT *****/
#contact-container {
	margin: 0 auto;
	padding: 0;
	width: 75%;
	border: 1px dotted gray;
	
	.contact-box {
		margin: 10px;
		padding: 10px;
		width: 45%;
		display: inline-block;
		vertical-align: top;
		background: #fff;
		border: 1px dotted red;
		
		h3 {
			margin: 0;
		}/*h3*/
		
		p {
			margin: 0;
			width: 100%;
		}/*p*/
		
		
	}/*.contact-box*/
}/*contact-container*/

/***** FOOTER *****/
footer {
	padding: 20px 0;
	background: #000;
	p {
		color: #fff;
		text-align: center;
	}
}